<h1>Welcome to the Destiny stl generator!</h1>
<form action="generate">
<fieldset>
<legend>Enter an item below</legend>
<input type="text" name="item" value="">
<br>
<br>
<input type="submit" value="Submit">
</fieldset>
</form>
<body>
<h2>Usage:</h2>
<ol>
  <li>Enter an item name or id in the text field above.</li>
  <li>Copy the generated text to your clipboard.</li>
  <li>Past the contents into a plaintext editor and save the file with the .stl extension.</li>
  <li>Open the file in your favorite CAD program or a 3D printing utility such as Netfabb.</li>
</ol>
<h2>Notes:</h2>
<ol>
  <li>This is a beta version of the tool and not all items have been tested.</li>
  <li>Many of the generated models will require a quick clean up of 2D surfaces and holes before they can be 3D printed.</li>
  <li>Please submit any issues to the <a href="https://github.com/bepo13/destiny-stl-generator">GitHub repository</a>.</li>
</ol>
</body>